{% extends "encyclopedia/layout.html" %}

{% block body %}
{% if edit%}
<h2>Edit Entry "{{ entry }}":</h2>
{% else %}
<h2>Add New Entry!</h2>
{% endif %}

{% if entry_exists %}
<div class="alert alert-danger" role="alert">
	This entry already exists! If you want to view or edit it, <a href="/wiki/{{ entry }}" class="alert-link">Click Here!</a>
</div>
<div class="alert alert-info" role="alert">
	Try a new entry name here!
</div>
{% endif %}
<br>
<div class="form-group">
	<form action="{% url 'tasks:new' %}" method="post">
	{% csrf_token %}
	{{form2.as_p}}
	<input type=submit>
	</form>
</div>

{% endblock %}